.header {
  padding: 5px 20px;
  background-color: royalblue;
}

.title {
  color: aliceblue;
  text-decoration: none;
}

.login, .register, .logout,.new-post {
  text-decoration: none;
  float: right;
  color: white;
  margin-right: 10px;
}

